// main
$index-bg-color: rgb(255, 255, 255);
$default-text-color: #333;
// input textbox & placehoder & message
$textbox-focus-color: rgb(60, 77, 172);
$textbox-color: rgb(202, 202, 202);
$message-color: rgb(108, 117, 125);
$error-color: rgb(213, 0, 0);
$textbox-text-color: rgb(73, 80, 87);
// data table
$block-color: rgb(63, 81, 181);
$editable-bg-color: rgb(240, 240, 240);
$editable-text-tolor: rgb(100, 100, 100);
// form
$button-color: rgb(63, 81, 181);
$button-hover-color: rgb(80, 97, 194);
$button-active-color: rgb(100, 117, 214);