@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    top: 8px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.data-table {
  width: 100%;
  height: 100px;
  margin: 50px 0;
  @media (max-width: 480px) {
    margin: 30px 0;
  }
  .block {
    height: 3px;
    width: 100%;
    margin: 15px 0;
    border-radius: 5px;
    background: $block-color;
  }
}
%row-icon {
  max-width: 20px;
  max-height: 20px;
  cursor: pointer;
  transition: filter 0.3s;
  &:hover {
    filter: invert(0.3);
  }
  &:active {
    filter: invert(0.5);
  }
}
%row-icon--editable {
  filter: invert(0.6);
}
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: 100%;
  padding: 0 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  opacity: 0;
  grid-template-columns: 70px 0.3fr 0.3fr 0.4fr 70px 70px;
  grid-template-areas: "no name phone email edit delete";
  transition: 0.3s;
  animation: fadeIn 0.5s both 1;
  @media (max-width: 480px) {
    // grid-template-columns: 50px 0.25fr 0.35fr 0.4fr 30px 20px; 原本的排版
    grid-template-columns: 60px 1fr 40px;
    grid-template-rows: 25px 25px 25px 25px 25px 25px;
    grid-template-areas:
      "no name ." "no name edit"
      "no phone edit" "no phone delete"
      "no email delete" "no email .";
    border-bottom: 2px solid $block-color;
    &:nth-child(1) {
      grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
      grid-template-rows: 1fr;
      grid-template-areas: "no name phone email";
      border-bottom: none;
      // fixed table head
      // position: fixed;
      // top:0;
      // background: rgba(255, 255, 255, 0.726);
      // z-index:10;
    }
  }
  &__sortable-column {
    cursor: pointer;
  }
  &__sort-icon {
    @extend %row-icon;
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
    margin-left: 1.5px;
    &--unset {
      filter: invert(0.8);
      content: url("../image/sort.svg");
    }
    &--decrease {
      content: url("../image/sorted.svg");
    }
    &--increase {
      transform: rotate(180deg);
      content: url("../image/sorted.svg");
    }
  }
  & > div:nth-child(1) {
    grid-area: no;
    div {
      position: relative;
      top: -1.5px;
    }
  }
  & > div:nth-child(2) {
    grid-area: name;
  }
  & > div:nth-child(3) {
    grid-area: phone;
  }
  & > div:nth-child(4) {
    grid-area: email;
  }
  & > div:nth-child(5) {
    grid-area: edit;
  }
  & > div:nth-child(6) {
    grid-area: delete;
  }
  &__edit-icon {
    @extend %row-icon;
    content: url("../image/edit.svg");
  }
  &__delete-icon {
    @extend %row-icon;
    content: url("../image/delete.svg");
  }
  &__check-icon {
    @extend %row-icon;
    content: url("../image/check.svg");
  }
  &__recover-icon {
    @extend %row-icon;
    content: url("../image/recover.svg");
  }
  &--updating {
    border-radius: 5px;
    background: $editable-bg-color;
    & .form-input__textbox {
      color: black;
    }
  }
  &--disable {
    filter: invert(0.8);
  }
}
.no-data {
  font-size: 22px;
  text-align: center;
  margin-top: 100px;
  opacity: 0;
  position: relative;
  top: 8px;
  animation: fadeInFromBottom 0.7s both;
}
