.form-mobile {
  @media (max-width: 480px) {
    height: 0;
    padding-left:10px;
    overflow: hidden;
    position: relative;
    top: -4px;
    opacity: 0;
    transition: opacity 0.3s, top 0.5s, height 0.4s 0.1s;
    &--expand {
      transition: opacity 0.3s 0.2s, top 0.3s 0.2s, height 0.5s;
      top: 0;
      height: 280px;
      opacity: 1;
    }
  }
}
.form {
  width: 100%;
  grid-area: form;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 480px) {
    flex-direction: column;
  }
  & div {
    flex: 1;
    @media (max-width: 480px) {
      flex: unset;
      width: 100%;
    }
  }
  & > div > button {
    padding: 7px 18px;
    border: none;
    background: $button-color;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    &:hover {
      background: $button-hover-color;
    }
    &:active {
      background: $button-active-color;
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }
}
