$textboxFocusColor: rgb(60, 77, 172);
$textboxColor: rgb(202, 202, 202);
$messageColor: rgb(108, 117, 125);
$errorColor: rgb(213, 0, 0);
$textColor: rgb(73, 80, 87);

.form-input {
  position: relative;
  height: 65px;
  &__textbox {
    padding: 20px 3px 3px 0;
    // width: calc(100% - 20px);
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    border-bottom: 1.5px solid $textboxColor;
    background: transparent;
    color: $textColor;
    font-size: 18px;
    transition: border 0.3s;
    z-index: 2;
    &--disable {
      border: none;
    }
    &:focus {
      border-bottom: 1.5px solid $textboxFocusColor;
      outline: none;
      & + .form-input__placehoder {
        top: 0;
        left: 0;
        font-size: 14px;
        color: $textboxFocusColor;
      }
    }
  }
  &__placehoder {
    color: $textboxColor;
    font-size: 14px;
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 18px;
    transition: 0.3s;
    &--fixed {
      top: 0;
      left: 0;
      font-size: 14px;
      color: $textboxFocusColor;
    }
  }
  &__message {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $errorColor;
    visibility: hidden;
  }
  &__message--show {
    visibility: unset;
  }
}
