.form-input {
  position: relative;
  height: 65px;
  &__textbox {
    padding: 20px 3px 3px 0;
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    border-bottom: 1.5px solid $textbox-color;
    background: transparent;
    color: $textbox-text-color;
    font-size: 18px;
    transition: border 0.3s;
    z-index: 2;
    &--disable {
      border-bottom: 1.5px solid transparent;
    }
    &:focus {
      border-bottom: 1.5px solid $textbox-focus-color;
      outline: none;
      & + .form-input__placehoder {
        top: 0;
        left: 0;
        font-size: 14px;
        color: $textbox-focus-color;
      }
    }
  }
  &__placehoder {
    color: $textbox-color;
    font-size: 14px;
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 18px;
    transition: 0.3s;
    &--fixed {
      top: 0;
      left: 0;
      font-size: 14px;
      color: $textbox-focus-color;
    }
  }
  &__message {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $error-color;
    visibility: hidden;
  }
  &__message--show {
    visibility: unset;
  }
}
